body {

  text-align:center;
  background:#F5F5F5;
  color: #222;
}

.title{
  font-size : 6em;
}

#return {
  margin: 40px auto;
  display: block;
}

.panel {
  font-size: 1.6em;
  height: 90px;
}

#current-player {
  font-size: 1.3em;
  margin: 10px;
}

.help {
  font-size: 0.9em;
}

#error {
  font-size: 0.9em;
  height: 40px;
}

#forest {
  margin: 30px;
}

#size {
  margin: 0px auto;
}

#ulehla {
  width: 100%;
  margin: 40px;
  overflow: auto;
}

.buttons input{
  width: 300px;
  display: block;
  margin: 5px auto;
}

.buttons input[type="number"] {
  width: 80px;
}

