
.node {
  cursor: pointer;
}

.node circle {
  fill: #fff;
  stroke: black;
  stroke-width: 1px;
}

.node text {
  font: 10px sans-serif;
  stroke: #000;
  stroke-width: 0.01em;
}

.link {
  fill: none;
  stroke: #ccc;
  stroke-width: 1px;
}

.stcontainer {
  float: left;
  border: 2px solid #000000;
  width: 100%;
}

.lcontainer {
  border: 1px solid #888888;
  margin: 4px;
  padding: 10px;
  float: left;
}

.scontainer {
  border: 1px solid #888888;
  margin: 4px;
  padding: 10px;
  float: left;
}
